<div class="container">

    <div class="header">
        <a href="" class="logo">COVID-19 TRACKER</a>
        <div class="header-right">
            <a  href="https://www.mygov.in/aarogya-setu-app/"><img src="assets/images/aarogya_setu.png" width="35">Aarogya Setu</a>
            <a  href="https://www.pmcares.gov.in/en"><img src="assets/images/donate_png.png" width="35">PM Cares</a>
            <a  href="https://www.linkedin.com/in/kushal-p-b97109152/"><img src="assets/images/about-png.png" width="40">About</a>
        </div>
    </div> <!--header-->
    
    <!-- <div class="responsive">
        <div class="cards">
            <div class="card-container">
                <h1>card1</h1>
            </div>
        </div>
    </div> -->

    <!-- image slideshow -->
    <br>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
                <img src="assets/images/covid_logo_cover.jpg" style="width:100%" height="300">
            <div class="text">covid-19</div>
        </div>
        
        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
                <img src="assets/images/doctors_helping.jpg" style="width:100%" height="300">
            <div class="text">corona warriors</div>
        </div>
        
        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
                <img src="assets/images/police_helping.jpg" style="width:100%" height="300">
            <div class="text">corona warriors</div>
        </div>
        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
                <img src="assets/images/india_poor_people.jpg" style="width:100%" height="300">
            <div class="text">poor people in India</div>
        </div>
        
        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
                <img src="assets/images/modi_lighiting_lamp.jpg" style="width:100%" height="300">
            <div class="text">PM Modi lighting lamp</div>
        </div>
        
        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
                <img src="assets/images/prevention.jpg" style="width:100%" height="300">
            <div class="text">prevention</div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
        <span class="dot" (click)="currentSlide(4)"></span> 
        <span class="dot" (click)="currentSlide(5)"></span> 
        <span class="dot" (click)="currentSlide(6)"></span> 
    </div>
<!-- 
    <div style="text-align:center">
        <span class="dot" ></span> 
        <span class="dot" ></span> 
        <span class="dot" ></span> 
        <span class="dot" ></span> 
        <span class="dot" ></span> 
        <span class="dot" ></span> 
    </div>
 -->

    <section>

        <div *ngIf="selected_country == ''; else printCountryName">
            <h1 class="heading">{{heading}}</h1>
        </div>
        <ng-template #printCountryName>
            <h1 class="heading">{{selected_country}}</h1>
        </ng-template>
        <div class="card-wrapper">
            <div *ngIf="selected_country == ''; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="card" id="infected-count-card">
                    <div class="card-data">
                        <h2>Infected</h2>
                        <h1>{{this.convertToINR(covid_data[first].cases)}}</h1>
                        <h3>{{this.getMonth(month)}} {{date}}, {{year}}</h3>
                    </div>
                </div>

                <div class="card" id="recovered-count-card">
                    <div class="card-data">
                        <h2>recovered</h2>
                        <h1>{{this.convertToINR(covid_data[first].recovered)}}</h1>
                        <h3>{{this.getMonth(month)}} {{date}}, {{year}}</h3>
                    </div>
                </div>

                <div class="card" id="death-count-card">
                    <div class="card-data">
                        <h2>deaths</h2>
                        <h1>{{this.convertToINR(covid_data[first].deaths)}}</h1>
                        <h3>{{this.getMonth(month)}} {{date}}, {{year}}</h3>
                    </div>
                </div>
            </ng-template> <!--end of thenBlock-->

            <ng-template #elseBlock>
                <div *ngFor="let value of covid_data">
                    <div class="card-wrapper" *ngIf="value.country == selected_country ">
                        <div class="card" id="infected-count-card">
                            <div class="card-data">
                                <h2>Infected</h2>
                                <h1>{{this.convertToINR(value.cases)}}</h1>
                                <h3>May 10, 2020</h3>
                            </div>
                        </div>
        
                        <div class="card" id="recovered-count-card">
                            <div class="card-data">
                                <h2>recovered</h2>
                                <h1>{{this.convertToINR(value.recovered)}}</h1>
                                <h3>May 10, 2020</h3>
                            </div>
                        </div>
        
                        <div class="card" id="death-count-card">
                            <div class="card-data">
                                <h2>deaths</h2>
                                <h1>{{this.convertToINR(value.deaths)}}</h1>
                                <h3>May 10, 2020</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div> <!-- card-wrapper -->
    </section>

    <div class="information-container">
        <h2>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</h2>
        <h2>Globally, there are over {{this.convertToINR(covid_data[first].cases)}} coronavirus cases, with deaths counts to {{this.convertToINR(covid_data[first].deaths)}}.</h2>
        <h2>Of these, as many as {{this.convertToINR(covid_data[first].recovered)}} patients have been cured until now.</h2>
        <h2><button mat-raised-button (click)="openDialog()">click here</button> to see your country report.</h2>
    </div>

    <!-- footer -->
    <div class="footer">
        <p class="cp-text">
            © Copyright 2015 Covid-19 Tracker. All rights reserved.
        </p>
    </div> <!--header-->

</div> <!-- container-->
